@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
:root {
  --color-primary: rgb(30, 33, 58);
  --color-secondary: rgb(16, 14, 29);
  --color-blue: rgb(60, 71, 233);
  --color-blue-hover: rgb(48, 57, 185);
  --color-tertiary: rgb(110, 112, 122);
  --color-tertiary-hover: rgb(77, 79, 87);
  --color-text-light: rgb(221, 220, 220);
  --color-text-light-hover: rgb(160, 160, 160);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  /* background: var(--color-primary); */
  /* background: rgba(0, 0, 0, 0); */
  background: rgba(110, 112, 122, 0.25);
}
::-webkit-scrollbar-thumb {
  background: var(--color-tertiary);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-tertiary-hover);
}
body {
  background-color: var(--color-secondary);
  overflow-x: hidden;
}
.App {
  display: flex;
}
.more-info {
  width: 100vw;
  /* min-height: 100vh; */
  padding: 1rem 8vw;
}

@media (max-width: 1300px) {
  .App {
    flex-direction: column;
  }
}
